/* Marines Font */
@import url('https://fonts.cdnfonts.com/css/marines');

/* Claude font */
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

/* Font classes */
.font-marines {
  font-family: 'Marines', sans-serif;
  letter-spacing: 1px;
}

/* Define Claude font */
.claude-font {
  font-family: 'Source Serif Pro', serif;
}